.img-log > img {
    width: 100px;
    height: auto;
    transition: 333ms;
}

.img-log > img:hover {
    width: 150px;
    height: auto;
    transition-timing-function: ease-in-out;
}

input[type="text"] {
    border: none; 
    transition: 300ms;
}
input[type="text"]:focus{
    border-bottom: 3px solid #47526C;
    transition-timing-function: ease-in-out; 
}

input[type="password"] {
    border: none; 
    transition: 300ms;
}

input[type="password"]:focus{
    border-bottom: 3px solid #47526C;
    transition-timing-function: ease-in-out; 
}

.logo{
    height: auto;
    width: 150px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.contenedor__todo{
    width: 100%;
    height: 480px;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #3D4964;

}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #3D4964;
    color: #FFB365
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    height: 500px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #3D4964;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #3D4964;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__register{
    display: none;
}

@media (max-width: 400px) and (min-width: 360px){
    .contenedor__todo{
        width: 100%;
        height: 770px;
        max-width: 800px;
        margin: auto;
        position: relative;
    }
}

@media (max-width: 770px) and (min-width: 405px){
    .contenedor__todo{
        width: 100%;
        height: 720px;
        max-width: 800px;
        margin: auto;
        position: relative;
    }
    
}
@media (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }

    .contenedor__todo {
        height: 770px;
    }
    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}