@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:wght@500&family=Quicksand:wght@300;700&family=Raleway:wght@500&display=swap');

.medios-contacto {
    width: 100%;
    height: 2rem;
    background-color: #000941;
    margin: 0;
}

.bg-first {
    background-color: #5E6A87 !important;
}

.img-logo {
    width: auto;
    height: 60px;
}

.nav-items {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 23px;
    font-weight: 300;
}

/* Comienzan estilos del header tamaño lg*/
.header{
    position: relative;
}

.main-button {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    color: #fff;
    background-color: transparent;
    border: none;
    transition: 400ms;
}

.main-button:hover{
    color: #000000;
    transition-timing-function: ease-in-out;
}

.button-img{
    position: absolute;
    bottom: 15px;
    right: 10px;
    background-color: transparent;
}

/* .img-header {
    background-image: url(/assets/img/Monse_selection.png);
    height: 100%;
} */

/* Terminan estilos del header*/

/* Estilos para los breadcrumbs */
.breadcrumb {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300 !important;
    width: 50%;
    margin: 5rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #fff;
    border: none;
    background-color: #818DAB !important;
    box-shadow: #677271 0 5px 8px 0;
}

/* Terminan los estilos de breadcrumbs */
.valores {
    margin: 35px 0;
}

.container-valor-honestidad {
    width: 100%;
    height: 250px;
}

.fondo-color1{
  background-color: #569B99;
}

.container-valor-responsabilidad {
  width: 100%;
  height: 250px;
  background-color: #cedddd;
}

.container-valor-puntualidad {
  width: 100%;
  height: 250px;
  background-color: #569B99;
}
  /* Footer */
.f-lineaTop{
  background-color: #5E6A87;
  margin: 0%;
  height: 45px;
}

.f-lineaBot{
  background-color: #000941;
  margin: 0%;
  height: 24px;
}

.footer-bg {
    background-color:#818DAB;
    color: black;
  }


  
  .footer {
    /*margin-top: 400px;*/
    display: flex;
    justify-content: space-around;
    
    font-size: 15px;
    color: white;
    line-height: 1;
    flex-wrap: wrap;
  }
  .footer a {
    color: white;
    text-decoration: underline;
  }
  .footer span {
    font-weight: bold;
  }
  .footer button{
    background-color: #5E6A87;
    border-color: white;
  }
  
  
  hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(207, 18, 18, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  
  @media (max-width: 1000px) {
    .pantalla {
      display: none;
    }
    .breadcrumb {
      width: 100%;
    }
  }
  
  .gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 20rem;
  }





/* Pag division OPCIONAL */

/* .pagdivision{
    background-color: #004443;
    
        height: calc(100px - 76px);
        
} */