@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:wght@500&family=Quicksand:wght@300;700&family=Raleway:wght@500&display=swap');

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.medios-contacto {
    width: 100%;
    height: 2rem;
    background-color: #000941;
    margin: 0;
}

.bg-first {
    background-color: #5E6A87 !important;
}

.img-logo {
    width: auto;
    height: 60px;
}

.nav-items {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 23px;
    font-weight: 300;
}

/* Comienzan estilos del header tamaño lg*/
.header{
    position: relative;
}

.main-button {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    color: #fff;
    background-color: transparent;
    border: none;
    transition: 400ms;
}

.main-button:hover{
    color: #000000;
    transition-timing-function: ease-in-out;
}

.button-img{
    position: absolute;
    bottom: 15px;
    right: 10px;
    background-color: transparent;
}

/* .img-header {
    background-image: url(/assets/img/Monse_selection.png);
    height: 100%;
} */

/* Terminan estilos del header*/

/* Estilos para los breadcrumbs */
.breadcrumb {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300 !important;
    width: 50%;
    margin: 5rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #fff;
    border: none;
    background-color: #818DAB !important;
    box-shadow: #677271 0 5px 8px 0;
}

/* Terminan los estilos de breadcrumbs */
.valores {
    margin: 35px 0;
}

.container-valor{
    width: 100%;
    height: 250px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-Pvalor{
  width: 100%;
  height: 250px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-valor i {
  font-size: 5rem;
  margin-bottom: 6%;
  color: rgb(250, 241, 241);
}

.container-Pvalor i {
  font-size: 5rem;
  margin-bottom: 6%;
  color: rgb(250, 241, 241);
}

.container-valor h3{
  color:  rgb(250, 241, 241);
}

.container-Pvalor h3{
  color:  rgb(250, 241, 241);
}

.container-valor-responsabilidad {
  width: 100%;
  height: 250px;
  background-color: #cedddd;
}

.container-Pvalor-puntualidad {
  width: 100%;
  height: 250px;
  background-color: #569B99;
}

/*Equipo */
.equipo1{
  margin-left: 18%;
}
.equipo3{
  margin-right: 18%;
}
  /* Footer */
.f-lineaTop{
  background-color: #5E6A87;
  margin: 0%;
  height: 10px;
}

.f-lineaBot{
  background-color: #000941;
  margin: 0%;
  height: 24px;
}

.footer-bg {
    background-color:#818DAB;
    color: black;
  }

  
  
  .footer {
    /*margin-top: 400px;*/
    display: flex;
    justify-content: space-around;
    
    font-size: 15px;
    color: white;
    line-height: 1;
    flex-wrap: wrap;
  }
  .footer a {
    color: white;
    text-decoration: underline;
  }
  .footer span {
    font-weight: bold;
  }
  .footer button{
    background-color: #5E6A87;
    border-color: white;
  }
  
  
  hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(207, 18, 18, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  
  @media (max-width: 1000px) {
    .pantalla {
      display: none;
    }
    .breadcrumb {
      width: 100%;
    }

 
}

  
  .gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 20rem;
  }

  .rama_tiempo {
    padding: 10rem 0;
    background: rgb(65,71,86);
    background: linear-gradient(180deg, rgba(65,71,86,1) 35%, rgba(49,120,119,1) 100%);
}

.card1{
  background-color: #414756;
  font-family: 'Quicksand', sans-serif;
  color: white;
  padding: 1rem;
  height: 300px;
  text-align:center;
}
.card2 {
  background-color: #317877;
  font-family: 'Quicksand', sans-serif;
  color: white;
  padding: 1rem;
  height: 300px;
  text-align:center;
}
.img-rob {
    background-color: #414756;
  }
.img-hum {
    background-color: #317877;
}
.card2{
    background-color: #317877;
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding: 1rem;
    height: 300px;
    text-align:center;
  }

.servicios{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
}

.texto-s{
  width: 50%;
  display: flex;
  flex-direction: column;
  
}

.texto-desc, .texto-s h2{
  display: inline;
  padding-left: 16%;
}
 
.servicios img{
  border: 25px solid #569B99;
}

.sombra{
  box-shadow: -25px 25px; 
  color: #569b9994;
}

/* ROBOT Y HUMANO */
.seccion-vm{
  border: none;
}

.robot{
  background-color: #414756;
  padding: 2%;
  width: 100%;
}

.humano{
  background-color: #317877;
  padding: 2%;
  padding-left: 7%;
  width: 100%;
}

.text-vm{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  width: 50%;
}

.text-vm p{
  text-align: center;
}





/* Pag division OPCIONAL */

/* .pagdivision{
    background-color: #004443;
    
        height: calc(100px - 76px);
        
} */

@media only screen and (max-width: 785px) {
/*IMG PRINCIPAL*/
  .main-button{
    font-size: 15px;
  }

  .espacio-btn{
    margin-right: 15px;
  }

  .servicios{
    flex-direction: column-reverse;
    margin-bottom: 15%;
  }

  .sombra{
    box-shadow: -15px 15px; 
    color: #569b9994;
  }

  .servicios img{
    border: 15px solid #569B99;
  }
  .texto-s{
    width: 90%;
  }

.arbol-equipo img{
  width: 100%;
  background-image: url("assets/img/rama_tiempo2.png");
}

  /* EQUIPO */
  .equipo1{
    flex-direction: column;
    margin-left: 13%;
  }
  .equipo2{
    flex-direction: column;
  }
  .equipo3{
    flex-direction: column;
    margin-right: 13%;
  }

 .texto-equipo{
   width: auto;
 }

}

@media only screen and (max-width: 576px) {
  /*IMG PRINCIPAL*/
  
  .main-button{
    font-size: .6rem;
    padding: 0px;
  }
  .espacio-btn{
    padding: 0;
    margin: 0;
  }

  /*VALORES*/

  .servicios img{
    border: 10px solid #569B99;
    height: 220px;
  }

 
  
  .servicios ul{
    padding: 0;
  }

  .sombra{
    box-shadow: -15px 15px; 
    color: #569b9994;
  }
  .texto-s{
    width: 100%;
  }
  .texto-s h2{
    font-size: 25px;
    text-align: center;
    padding: 0;
  }


h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  }


  .text-vm{
    margin-left: 3px;
  }

/* ROBOT Y HUMANO*/
  .Himg-vm img{
    height: 260px;
  }

  .Rimg-vm img{
    height: 260px;
  }

  .text-vm p{
    font-size: 15px;
  }

  /* EQUIPO */
  .equipo1{
    flex-direction: column;
  }
  .equipo2{
    flex-direction: column;
  }
  .equipo3{
    flex-direction: column;
  }

 .texto-equipo{
   width: auto;
 }


  

}

.img-container {
  z-index: 1;
  align-items: center;
}

.mision-container {
  z-index: -1;
}


/*Equipo*/
.fondo{
  background-color:#3f9492;
}

.cont-texto{
  background: #414756;
  padding: 10px;
  height: auto;
  justify-content: center;
}

.cont-texto hr{
    border: 3px solid #317877;
    width: 100%;
  }

.texto-equipo{
  text-align: center;
  color:#fff;
}

.texto-equipo p{
  text-align: justify;
  margin: 0;
  padding: 8px;
  
}

.texto-equipo h3{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.texto-equipo h4{
  font-size: 15px;
}

.img-nos{
  width: auto;
  height: 70px;
}

.cont-fotos{
  background: rgb(65,71,86);
  background: linear-gradient(180deg, rgba(65,71,86,1) 35%, rgba(49,120,119,1) 100%);
}

.redes{
  margin: 5%;
  margin-bottom: 0;
  margin-right: 0;
  display: flex;
  justify-content: right;
  
}

.ic-redes{
  margin-right: 8px;
  margin-left: 8px;
  border: 1px solid rgb(53, 50, 50);
  width: auto;
  height: auto;
  background: linear-gradient(180deg, rgba(65,71,86,1) 35%, rgba(49,120,119,1) 100%);
}

.texto-redes{
  text-align: right;
  margin-right: 11%;
  margin-top: 4%;
}

.fa-brands{
  color: #fff;
  font-size: x-large;
  margin: 8px;
  margin-left: 13px;
  margin-right: 13px;
}

/* Proyectos*/
.btn-color{
  background: linear-gradient(180deg, rgba(65,71,86,1) 35%, rgba(49,120,119,1) 100%);
  color: #fff;
  border: none;
}

/*MEDIANA*/
@media only screen and (max-width: 1080px) {
/*IMG PRINCIPAL*/

  .espacio-btn{
    margin-right: 15px;
  }
/*VALORES*/
.cont-v{
  margin-top: 9%;
}
.container-Pvalor{
  margin: 0 auto; 
}
.arbol-equipo{
  background-image: "assets/img/rama_tiempo2.png";
}

/* ROBOT Y HUMANO*/
.seccion-vm{
    flex-direction: column;
  }
  
.robot{
    flex-direction: row-reverse;
    justify-content: center;

  }
  
.humano{
    padding: 2%;
    flex-direction: row-reverse;
    justify-content: center;
}

.Rimg-vm{
  margin-right: 6%;
}

.Himg-vm{
  margin-left: 6%;
} 

  .text-vm{
    font-size: 20px;
  }


/*EQUIPO*/
.seccion-equipo{
  margin-top: 5%;
}

.cont-texto{
  font-size: 13px;
}

.cont-texto h3{
  font-size: 17px;
}

.fa-brands{
  font-size:medium;
}

.equipo1{
  margin-left: 13%;
}

.equipo3{
  margin-right: 13%;
}

}