@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Quicksand&family=Roboto:wght@300&display=swap');





/* Navbar */


.navbar-ground {
    background-color: #818DAB;


  }
  
  .container > h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0.5rem 0;
  }
  
  .navbar-brand > img {
    width: 100px;
    height: auto;
  }
  
  .img-logo {
    width: 315px;
    height: 50px;
    object-fit: cover;
    object-position: center;
  }


/* Inicio */


#Inicio{
	background-color: #004443;
} 
.int1{
    background-color:  #569B99;
    height: 20px;

}





  /* Nosotros */
  .pantalla{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 76px);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: top;
    align-items: flex-start;
}

.logo{
  width: 300px;  
}


.cuadro{
  background-color: rgba(0, 0, 0, 0.387);
  padding: 10px ;
  color: white;
  border-radius: 20px;
  vertical-align: top;
  border: 10px;
  margin-top:4rem ;
  font-size: 15px;
  text-align: left;
}

h2{
  font-size: 20px ;
}

.desc{
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}

.img-fluid{
  width: 400px;
  height: 400px;
}

.images{
  display: flex;
  align-items: left;
  height: 400px;
  max-width: 100%;
}

.sam{
  width: 300px;
  padding: 30px;
  display:flex;
  align-items: center;
}   



hr {
  border: #47817E solid 1px;
  border-radius: 2px;
  height: 0px;
}

.img-card-team {
  width: 100%;
  height: auto;
  border-radius: 1px;
}

.imgprom{
    width: 337px;
    height: 164px;
}



  /* Footer */
.footer-bg {
    background-color:#818DAB;
  }
  
  .footer {
    /*margin-top: 400px;*/
    display: flex;
    justify-content: space-around;
    
    font-size: 15px;
    color: white;
    line-height: 1;
    flex-wrap: wrap;
  }
  .footer a {
    color: white;
    text-decoration: underline;
  }
  .footer span {
    font-weight: bold;
  }
  
  
  hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(207, 18, 18, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  
  @media (max-width: 1000px) {
    .pantalla {
      display: none;
    }
  }
  
  .gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 20rem;
  }





/* Pag division OPCIONAL */

/* .pagdivision{
    background-color: #004443;
    
        height: calc(100px - 76px);
        
} */